body{
    font-family: 'Roboto';
    color:#2E2F42;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.page-head{
    background-color: #E7E9FC;
}

.navigation a:hover{
    color: #404BBF;
}

.page-title{
    font-size: 56px;
    line-height: 60px;
    color: #FFFF;
}

.header-section{
    background-color: #2E2F42;
}

.order-button{
    color: #4D5AE5;
    font-weight: 500;
    letter-spacing: 4%;
}