body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color:#FFFFFF ;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.page-head{
    background-color: #E7E9FC;
}

.navigation .links:focus,
.navigation .links:hover{
    color: #404BBF;
}

.page-title{
    font-size: 56px;
    line-height: 60px;
    color: #FFFF;
}

.header-section{
    background-color: #2E2F42;
}

.order-button{
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 4%;
}

.section-header{
    font-size: 36px;
}

.subtitle{
    font-size: 20px;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-span{
    color: #2e2f42;

}

.links{
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.foot-section{
    background-color: #2E2F42;
}

address{
    font-style: normal;
}